.reviewForm {
  position: relative;
  margin-bottom: 0;
}

.reviewFormItem {
  margin-bottom: 5px !important;
}

.rateWrap {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.addReviewTitle {
  font-size: 18px !important;
  line-height: 28px !important;
  margin-bottom: 16px !important;
}

.submitButton {
  height: 40px;
  border: 1px solid #f0ad4e !important;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #f0ad4e !important;
  text-transform: uppercase;
  background-color: transparent !important;
  margin-top: 25px;
}

.invalid:focus {
  border-color: red !important;
}

@media all and (max-width: 767px) {
  .reviewForm {
    margin-bottom: 10px !important;
    padding: 0 !important;
  }

  .addReviewTitle {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-bottom: 10px !important;
  }
}
