.contentTabs {
  height: auto;
  text-align: center;
}

.tabPane {
  background-color: #fff;
  padding: 28px 0;
}

@media all and (max-width: 767px) {
  .tabPane {
    padding: 16px;
  }
}

.headerCaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 36px !important;
  font-weight: 700 !important;
  margin: 0 0 6px !important;
}

.subtitle {
  font-weight: 500 !important;
  margin: 0 !important;
}

.header {
  position: relative;
  min-height: 220px;
  background-color: #ffd25d;
}

@media all and (max-width: 767px) {
  .title {
    font-size: 26px !important;
    margin-bottom: 0 !important;
  }

  .subtitle {
    font-size: 22px !important;
  }

  .header {
    min-height: 160px;
  }
}
