.customRate li {
  margin-right: 0 !important;
}

.customRateSm,
.customRateSm li {
  font-size: 16px !important;
}

.disabled {
  pointer-events: none;
}

@media all and (max-width: 767px) {
  .customRate,
  .customRate li {
    font-size: 16px !important;
  }
}
