.basket {
  padding: 13px 16px 20px;
  background-color: #fff0db;
}

.hr {
  margin: 14px 0 !important;
}

.title {
  text-align: center;
  margin-bottom: 20px !important;
  font-size: 18px !important;
}

.lastRow {
  margin-bottom: 20px;
}

.button {
  margin-top: 22px;
  font-size: 18px;
  background-color: #e4661e !important;
  border-color: #e4661e !important;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }

  .basket.isFlexbox {
    padding-bottom: 36px;
  }
}
