.header {
  height: 60px;
  background: var(--black);
  padding: 16px;
  text-align: center;
}

.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.goBackBtn {
  padding: 0;
  border: none;
  font-size: 24px;
  color: var(--white);
  font-weight: 400;
  cursor: pointer;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.goBackBtn > span {
  color: #fff;
  text-transform: none;
  margin-left: 4px;
}

.goBackBtn:hover,
.goBackBtn:hover > span {
  opacity: 8;
}

.goBackBtn > svg {
  margin-bottom: -3px;
}

.goBackBtnText {
  display: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logoWrap {
  position: static;
}

@media all and (min-width: 768px) {
  .goBackBtn {
    font-size: 16px;
    line-height: 24px;
  }

  .goBackBtnText {
    display: inline-block !important;
  }
}
