.hero {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.hero:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.heroImg {
  width: 100%;
}

.heroCaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.heading {
  color: #fff !important;
  margin: 0 !important;
  font-weight: 700 !important;
  font-size: 36px !important;
}

.description {
  color: #fff;
  font-size: 16px !important;
  line-height: 24px !important;
  margin: 0 0 8px !important;
}

.colorWhite {
  color: #fff;
}

@media all and (max-width: 992px) {
  .hero {
    overflow: hidden;
  }

  .heroImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .heading {
    font-size: 26px !important;
    line-height: 31px !important;
  }
}
