@import "~normalize.css/normalize.css";

:root {
  --black: #1d1d1d;
  --white: #ffffff;
  --orange: #e4661e;
  --orange-light: #f0894e;
  --pink: #fff0db;
  --yellow: #f0ad4e;
  --yellow-light: #ffd25d;
  --grey: #e5e5e5;
  --green: #49ab39;
  --input-border: #c4c4c4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button,
button span {
  text-transform: uppercase;
}

hr {
  border-top-color: #1d1d1d;
  height: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

p.sm {
  font-size: 14px;
  line-height: 1.4;
}

p.bold {
  font-weight: 700;
}

fieldset {
  padding: 0;
  border: 0;
}

.fullHeightLayout {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 52px;
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;
  margin: 0;
}

/* forms */

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 9px 16px;
  font-size: 16px;
  line-height: 1.2;
  outline: none;
  box-shadow: none;
  transition: 0.2s all;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--grey);
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  height: 38px;
}

textarea {
  height: 84px;
}

.formGroup label {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 6px;
  color: #999;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
}

.formGroup {
  margin-bottom: 24px;
}

.flexGrowUp {
  flex-grow: 1;
}

.contentWrap {
  padding: 0;
}

@media all and (max-width: 767px) {
  .form {
    padding: 16px 24px;
  }

  .formGroup {
    margin-bottom: 16px;
  }
}

@media all and (min-width: 768px) {
  .contentWrap {
    padding: 60px 0;
  }
}

/* tabs */

.show {
  display: block;
}
.hide {
  display: none;
}

.tabs {
  /**/
}

.tab {
  display: inline-flex;
  margin: 0 0 0 24px;
  padding: 12px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  transition: 0.3s all;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  text-transform: none;
}

.tab:first-child {
  margin: 0;
}

.tab.tabSelected {
  opacity: 1;
}

.tabSelected:after {
  content: "";
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--black);
}

.tabPanel {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabsHeader {
  padding: 0 24px;
  background-color: var(--grey);
}

.tabsNav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabsContent {
  padding: 30px 0;
}

@media all and (max-width: 767px) {
  .tabsContent {
    padding: 18px 0;
  }

  .tabsNav {
    justify-content: flex-start;
  }
}
